*
{
	padding:0px;
	margin:0px;
	font-family:Droid Serif;
	font-size:20px;
	//text-align:center;
}
header,section,footer,nav,article,hgroup
{
	display:block;
}
body
{
	padding:0px;
	margin:0px;
	font-family:Droid Serif;
	font-size:20px;
	text-align:center;
	display:block;
}
#head
{
	background:teal;
	padding:10px;
	color:white;
	text-shadow:1px 1px 1px white,3px 3px 3px black;;

}
#content
{
	text-align:center;
	display:block;
	background:teal;

}
#sec0
{
	width:400px;
	display:block;
	float:left;
	height:500px;
	//background:teal;
	padding-top:10px;
}
#sec1
{
	width:450px;
	overflow:hidden;
	display:block;
	float:left;
	height:500px;
	background:url(../../Images/bg.jpg);
	background-size:150px 500px;

}
#car
{
	position:absolute;
	top:500px;
	left:440px;
	transition:.4s;
}
#start
{
	background:#48f;
	box-shadow:0px 0px 2px 3px black inset;
	color:white;
	border:0px solid red;
	border-radius:4px;
	padding:10px;
	transition:0.4s;
	cursor:pointer;

}
#start:hover
{
	background:white;
	color:#48f;

}
#gover
{
	width:400px;
	height:320px;
	background:red;
	color:lightgreen;
	position: absolute;
	top: 80px;
	left: 360px;
	padding:100px;
	font-family:Droid Serif;
	text-shadow:1px 1px 1px lightgreen,2px 2px 2px black;
	font-size:30px;
	transition:2s;
}
i
{
	background: skyblue;
	padding: 4px;
	color:black;
	text-shadow:1px 1px 1px black,2px 2px 2px black;
}
