body
{
  background-color: green;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinte;
  -webkit-animation-direction: alternate-reverse;

  -moz-animation-name: example;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate-reverse;

  -o-animation-name: example;
  -o-animation-duration: 2s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: alternate-reverse;

  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;

  margin: -22px auto;
  padding: 0;
  overflow: auto;
}

@-webkit-keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}
@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}

p
{
    font-weight: bold;
    font-size: 12pt;
    clear: left;
}

#divExample
{
  position: fixed;
  border: 5px solid black;
  padding: 20px 10px 20px;
  background-color: green;
  width: 100px;
  height: 100px;
  transition: width 2s, height 2s;
  margin-top: 200px;
  margin-left: 500px;
  text-align: center;

}

#divExample:hover
{
  width: 300px;
  height: 150px;
}

/*[input|=Submit]
{
  width: 30px;
  transition: width 2s;
}

[input|=Submit]:hover
{
  width: 50px;
}*/

nav{
  top:0;
  position: fixed;
  padding: 20px 10px;
  background-color: #f1f1f1;
  width: 100%;
  font-family: Arial;
  z-index: 1000;
}

nav  a {
  color: black;
  text-align: center;
  padding: 12px;
}

nav a.active
{
  background-color: dodgerblue;
  color: white;
}

nav a:hover
{
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

#footercontent{
  margin: 0;
}

#formluar{
  border: black 3px;
  padding: 90px 20px 90px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  transform: translate(-50%, -50%);
}

#homepage #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#homepage .description {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  left: 0;
  padding: 20px;
}

#homepage #content{
  padding: 20px 5px 20px;
  top: 1260px;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;

}

#homepage #content p{
  border: black 1px;
  border-style: solid;
  padding: 50px;
  background-color: white;
}

/* Style the button used to pause/play the video */
#homepage #myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#homepage #myBtn:hover {
  background: #ddd;
  color: black;
}

#content picture
{
  display: inline-block;
  padding: 5px;
  width: 600px;
  float: right;
  position: relative;
  margin-bottom: 30px;
}

#ContentFooter
{
   bottom:0;
   width:100%;
   height:60px;
   background:#555;
   margin-top: 620px;
}

#ContactBody
{
  background-image: linear-gradient(to right, Cyan, blue);
}

#ChangeLog
{
  margin-top: 250px;
  padding: 60px 30px 60px;
}

#ChangeLog p
{
  padding: 40px 20px 40px;
  font-weight: bold;
  font-size: 18pt;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}

article {
  position: relative;
  top: 100px;
  border: 5px solid black;
  background-color: white;
  text-align: left;
  margin-left: 170px;
  margin-right: 170px;
  padding : 20px 5px 40px;
  box-shadow: 10px 20px 30px grey;
  border-radius: 20px;
}

article > h2
{
  text-align: left;
  clear: both;


}


article  picture
{
    display: inline-block;
    padding: 5px;
    width: 600px;
    float: right;
    position: relative;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li
{
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child
{
    border-right: none;
}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

li a:hover:not(.active)
{
    background-color: #111;
}

.active
{
    background-color: #4CAF50;
}

footer
{
  padding: 20px 0px 26px;
  height: 60px;
  background: #555;
  margin-top: 120px;
  bottom: 0;
}

input
{
  margin-top: 15px;
  margin-bottom: 15px;
}
