html body
{
  min-width: 1080px;

}

body
{
  /*    margin: -22px auto;*/
  margin-bottom: 20px;
  min-width: 1080px;
  min-height: 950px;
  background-image: url("../Picture/Background.jpg");
  border: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

p
{
    font-weight: bold;
    font-size: 12pt;
    clear: left;
}

nav
{
  top:0;
  position: fixed;
  padding: 20px 10px;
  background-color: #f1f1f1;
  width: 100%;
  font-family: Arial;
  z-index: 1000;
}

nav a
{
  color: black;
  text-align: center;
  padding: 12px;
}

nav a.active
{
  background-color: dodgerblue;
  color: white;
}

nav a:hover
{
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

#ContactBody
{

}

#formluar
{
  border: black 3px;
  padding: 90px 20px 90px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  transform: translate(-50%, -50%);
}

#homepage #myVideo
{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#homepage .description
{
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  left: 0;
  padding: 20px;
}

#homepage #content
{
  padding: 20px 5px 20px;
  top: 1260px;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;

}

#homepage #content p
{
  border: black 1px;
  border-style: solid;
  padding: 50px;
  background-color: white;
}

/* Style the button used to pause/play the video */
#homepage #myBtn
{
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#homepage #myBtn:hover
{
  background: #ddd;
  color: black;
}

#content picture
{
  display: inline-block;
  padding: 5px;
  width: 600px;
  float: right;
  position: relative;
  margin-bottom: 30px;
}

#ContentFooter
{
   width:100%;
   margin-top: 620px;
   height: 80px;
}

footer
{
  padding: 20px 0px 26px;
  background: #555;
  border: 0;
}

#ChangeLog
{
  margin-top: 250px;
  padding: 60px 30px 60px;
}

#ChangeLog p
{
  padding: 40px 20px 40px;
  font-weight: bold;
  font-size: 18pt;
}

button
{
  margin: 10px 5px 10px;
}

.progress-container
{
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar
{
  height: 8px;
  background: #4caf50;
  width: 0%;
}

article
{
  position: relative;
  min-width: 30%;
  top: 100px;
  border: 5px solid black;
  background-color: white;
  text-align: left;
  margin-left: 170px;
  margin-right: 170px;
  padding: 20px 5px 40px;
  box-shadow: 10px 20px 30px grey;
  border-radius: 20px;
}

article > h2
{
  text-align: left;
  clear: both;


}


article  picture
{
    display: inline-block;
    padding: 5px;
    width: 600px;
    float: right;
    position: relative;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li
{
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child
{
    border-right: none;
}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

li a:hover:not(.active)
{
    background-color: #111;
}

.active
{
    background-color: #4CAF50;
}

input
{
  padding-top: 50px;
  padding-bottom: 50px;
}
