/*
 * „Kommentar-Box” - kommentar.css (utf-8)
 *  - https://werner-zenk.de
 */


/* Nur zur Demo! */
body { 
 font-family: Verdana, Arial, Sans-Serif;
 margin-bottom: 250px;
}
h2 {
 font-weight: Normal;
}


/* Kommentar-Box */
fieldset.kommentarBox {
 background-color: #F5F5F5;
 border: Solid 1px #D8D8D8;
 border-radius: 5px;
 padding: 20px;
 margin: 25px Auto 25px Auto;
 max-width: 510px;
 cursor: Default;
}

/* Überschrift */
fieldset.kommentarBox legend {
 font-size: 16px;
 padding: 0 5px 0 5px;
 letter-spacing: 1px;
 color: #000000;
}

/* Navigation */
fieldset.kommentarBox nav {
 text-align: Right;
}

/* Kommentar */
fieldset.kommentarBox dl.kommentar dt {
 border-bottom: Solid 1px #D8D8D8;
}

fieldset.kommentarBox dl.kommentar dd {
 margin-left: 40px;
}

/* Hyperlinks */
fieldset.kommentarBox a:link,
fieldset.kommentarBox a:visited {
 color: #4169E1;
 text-decoration: None;
}

/* Formularfelder */
fieldset.kommentarBox input,
fieldset.kommentarBox textarea,
fieldset.kommentarBox select {
 font-family: Verdana, Arial, Sans-Serif;
 font-size: 0.94rem;
 margin-top: 5px;
}

/* Optionen */
fieldset.kommentarBox input[type=radio]:checked + label {
 color: #4169E1;
}

fieldset.kommentarBox input[type=radio]#lbl2:checked + label {
 color: #EE0000;
}

/* Pflichtangabe */
fieldset.kommentarBox mark {
 color: #FF0000;
 background-color: Transparent;
}

/* Bewertung */
fieldset.kommentarBox span.bewertung_ok {
 color: #FFD700;
}

fieldset.kommentarBox span.bewertung_ko {
 color: #C8C8C8;
}

/* Statusmeldung */
p.status {
 color: #00B32D;
 background-color: #EAFFEF;
 padding: 5px 5px 5px 15px;
 margin: 25px Auto 25px Auto;
 width: 510px;
 border: Solid 1px #D8D8D8;
 border-radius: 5px;
}

p.statusx {
 color: #EE0000;
 background-color: #FFE8E8;
 padding: 5px 5px 5px 15px;
 margin: 5px Auto 25px Auto;
 width: 510px;
 border: Solid 1px #D8D8D8;
 border-radius: 5px;
}

/* Smileys */
span.smiley1::before {
 content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAIAAAC0D9CtAAAABnRSTlMAAQAAAABTxi4hAAABtklEQVR42mNgZGCAo/VFlkLsjEpq3J3ZgovBqNONTYmDXciyCFkZguUnwWgdJnZ/s8X/E7Yo6ID27Wpeaw4Jv4VnUPRYs7PWtav/RFONhH4ul6iT53Gcfgaqp1WDMbVR8w9uDRD0Z6VYKodp/5kXDFfmOjPYib0mpAGCXjdysnsuZOjUYOydaAYVXatuz8bWsNAGoe6wYYMIk187TMFemV4OUwZrBv7rR2AqZkgDXWtZbYrQs1bNEigUrgcTMbsUycDAjuywTTq5miLL1yK557DJIgeeutmWcJGX9RwMxHsG7iUGEQvRl6ToeVrJxuDJwHdpL9wlZtdWmKPF0s8NRuc3wEPF4IwfA8NCT4b8dpgX12q4cTEpWSmsnGJ4c4v5zQXac0P5hdmYo3rNoQo2SuQzhDM82JohIi94B2bVzz2mR6plAzQ51eSAiCcgTu3Iemt4oN1KY5Eo3w9KB6vC2Q3S5L4Q8smX6QIGEhmI9Fauy24QK/XmAC4NFm96+QzYrdHT9Vw/CR5xrqW9qh9QdFp8WCS11IqJXSEES16AoDRgDmIAZiE2By0QUuJgAOaetLkHkdUAALjTihuw3OU+AAAAAElFTkSuQmCC");
 vertical-align: Middle;
}

span.smiley2::before {
 content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAIAAAC0D9CtAAAABnRSTlMAAQAAAABTxi4hAAACCElEQVR42mNgZGCAo/VFlkLsjEpq3J3ZgovBqNONTYmDXciyCFkZguUnwWgdJnZ/s8X/E7Yo6ID27Wpeaw4Jv4VnUPRYs7PWtav/RFONhH4ul6iT53Gcfgaqp1WDMbVR888Jm0/rtO7O13uDQ9uflWKpHKb9Z14wXJnrzGAn9vqEzevFglf7+G8vNf6CUGf9Yb3hg4VK95cbvT5gAxR53cjJ7rmQoVODsXei2Z8NKtd7Be9vtkE2+P1S4St93DfnyN+aynq1T+EpUHCvTC+HKYM1A//1I7Yfl0vfXGL6Z5NWvJzA7JUwbUetf+01vzxb//JGyy+HrMGCZpciGRjYQQ6DKZohDfShZbUplHvYsEGBTU2OU02aLaTdDCL4sp6DgQFZzyatEH6O7sUw7h6T25shbIsbK80hgkAvMYhYiL7EHcSY6GklG4MnA9+lvcTrMTjjx8Cw0JMhv10PLnoshtkgRf/FYQjX5mG/pBK/7Em4no0S+QzhDA+2ZojIC96BWfVzg06GNBMHP4eLp5iLCDMDF2/bbHNY+jC7lcYiUb4flA5WhbMbpMkhR+WbVYZ7p+juXWDy5gDCYV+mCxhIZCDSW7kuu0GsFLIKVGTxppfPgN0aPV3P9ZPgEeda2qv6AUWnxYdFUkutmNgVQrDkBQhKA+YgBmAWYnPQAiElDgZg7kmbexBZDQBCbIS3PtWfrwAAAABJRU5ErkJggg==");
 vertical-align: Middle;
}

span.smiley3::before {
 content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAIAAAC0D9CtAAAABnRSTlMAAAAAAABupgeRAAABtUlEQVR42mNgQAJ7qmyFORiV1Lg7swUXg1GnG5sSB4ewbRUDVhAixWgdJnZ/s8X/E7Yo6ID27Wpeaw6pkDW3Eap/3p5rz8Fa167+E001Evq5XKJOntdtEUxbnzZjaqPmH9waIOjPSrFUDsuZt38yPF7hwWAn9pqQBgh63cjJ4beGYbI2Y+9EM6joYfNrs40eHkZWZ31/gf6NnTDuXpleDksGewb+60dgQrNlOBgY/NrNEXo2qNszMIimGMJEzC5FMjBwIDsMU88WTT8UPbYv64FKUDxjcQPdbTYPFyG5DewlBlEL0ZfEBQAEPa1kY/Bj4Lu0F1XisOXL9UZHp+geXWr6co8Nqh6DM0C3rvFjyG/Xg4s+mSSlycXAwc+hJsepJs3KwcBsnmnwBq5no0Q+QyzDh0P5ovKCd2BW3Z2ovGK++VeYoq9bDFdU6z2BBdqtNBaphrOgdLAtlsMgTe4LIZ98mS5gIJWPSHINBhwGsVJvDuDSYPGml8+Aw34uMOEggxUhUjziXEt7VT+g6LT4sEhqqRUTh1IU9uzw9PSKXGAOYgBmITYHLRBS4mAA5p7cFeeRlQEA7QyV3pMFdZAAAAAASUVORK5CYII=");
 vertical-align: Middle;
}

span.smiley4::before {
 content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAIAAAC0D9CtAAAABnRSTlMAAQAAAABTxi4hAAAB/0lEQVR42mNgZGCAoz1VtsIcjEpq3J3ZgovBqNONTYmDQ9i2ClkZghUixWgdJnZ/s8X/E7Yo6ID27Wpeaw6pkDW3EXp+3p5rz8Fa167+E001Evq5XKJOntdt0W2onj5txtRGzT+4NUDQn5ViqRyWM2//ZHi8woPBTuw1IQ0Q9LqRk8NvDcNkbcbeiWZQ0bXq9mxsDQttEOoOGzaIMPm1wxTslenlsGSwZ+C/fgSmYoY00LWW1aYIPWvVLIFC4XowEbNLkQwMHMgO26STqymyfC2Sew6bLHLgqZttCRd5Wc/BQLxn4F5iELUQfQl3WMHmayemTQMRBdNOIIhrmwvgzntaycbgx8B3aS9Yz2wZjtm3/r8+dAhEzD70GkH8vzVbNMUQrMfgjB8Dwxo/hvx2sBmHDaoNvPNSHRxCy1IddB1SEUSet1r1PHBgbpTIZ4hl+HAoX1Re8A7YqjeTnBcc2oRuz6ZDS8v13oAD7VYai1TDWVA62BbLYZAm9wUkanO7XSxh7tUb26eClE9dd/l4p2OQzsPDIBO/TBcwkMpHpNEGAw6DWKk3B8BJa4/pmR61lliZlmrtM2stwYnQ4k0vnwGH/dzbP1HS9YoQKR5xrqW9qh8OIAeuxYdFUkutmDiUorDkBSB6enpFLjAHMQCzEJuDFggpcTAAc0/uivPIygDruZRTAdsDUwAAAABJRU5ErkJggg==");
 vertical-align: Middle;
}